.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .action {
    display: flex;
    gap: 10px;
  }

  .btnTransition {
    font-weight: 500;
    color: #4683d9;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: #437cce;
    }
  }
}
