.button {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  flex-shrink: 0;
  height: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
